@font-face {

  font-family: "MyCustomFont";
  src: url("fonts/digital_font.ttf") format("truetype");

}

#clock-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  width: 80vw;
  height: 25vh;
  box-sizing: border-box;
  color: green;
  border: 5px dotted green;
  margin: auto;
  padding: 5%;

}

.clock-day-time {

  font-family: "MyCustomFont";
  font-size: clamp(16px, 10vmin, 100px);
  max-width: 100%;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.1;

}